.printer {
  width: 82px;
  height: 38px;
  position: relative !important;
  margin-top: 5px !important;
}
.maturity {
  float: right;
}
.maturity3 {
  float: right;
}
.maturity2 {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .maturity3 {
    float: left;
  }
}
