.navTab {
  border-bottom: 1px solid #8080803b;
  background-color: white;
}
.navbar-dark .navbar-nav .nav-link {
  color: black !important;
  border: #1355b5 !important;
}
.header .navbar-dark .navbar-toggler {
  color: #1355b5;
  border-color: black;
}
@media screen and (max-width: 991px) {
  .header .navbar-collapse {
    height: 100vh;
  }
  .header .navbar-nav {
    width: 100% !important;
  }
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("../../assets/img/bar.png") !important;
}
.navbar-nav {
  float: right;
}
.header .buttons {
  text-transform: capitalize;
  color: #1355b5;
  font-weight: 400;
}
.header .buttons span {
  color: gray;
  margin-left: 10px;
}
.header .MuiAvatar-circular {
  background-color: white !important;
  border: 1px solid #1355b5;
  color: #1355b5;
}
.header .bottom {
  margin-top: 50px;
  background-color: black;
}
.header .bottom .navs {
  justify-content: space-between;
}
.header .bottom .navs a {
  color: white;
  font-size: large;
  font-weight: 600;
  padding: 15px 0px;
}
.header .bottom .navs a svg {
  color: gray;
  margin-right: 5px;
  margin-top: -6px;
}
@media screen and (max-width: 580px) {
  .header .bottom .navs a span {
    display: none;
  }
  .header .bottom .navs a svg {
    color: whitesmoke;
    margin-top: 0px !important;
  }
}
